<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DJ
        link(rel="stylesheet", href="style.css")
    body
        header
            p Заголовок
        body
            p Тело
        footer
            p Подвал
