<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DJ Klimov
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(href!="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap", rel="stylesheet")
    body
        header
            p DJ Klimov
        main.main
            .main-left
                iframe(width="560", height="315", src="https://www.youtube.com/embed/LBOovcESRzQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .main-center
                .main-center-1
                    img(src="img/eoRkNgL7kM0.jpg", alt="")
                .main-center-2
                    p Cкоро выйдет альбом
            .main-right
                img(src="img/qr.png", alt="qr")
        footer
            a(href="https://t.me/KlimovDmusic")
                img(src="img/telegram.png", alt="telegram")
            a(href="https://vk.com/klimovdmusic")
                img(src="img/vk.png", alt="")
            a(href="https://www.instagram.com/dimariyok")
                img(src="img/inst.png", alt="")
            a(href="https://www.youtube.com/channel/UC5WvobYz7ZLxD5AAGzKSqkw?view_as=subscriber")
                img(src="img/youtube.png", alt="")
            a(href="https://www.facebook.com/dmitry.klimov.940")
                img(src="img/fb.png", alt="")
